<%= form_for [@video] do |f| %>
<div class='column column-block'>
  <% if @video.errors.any? %>
    <div id="error_explanation-videos">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="video-title">
    <%= f.label :name, 'Title' %>
    <div class="video-title input">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="video-url">
    <%= f.label :url, "URL" %>
    <div class="video-url input">
      <%= f.text_field :url %>
    </div>
  </div>

<%= f.hidden_field :career_id, :value => @id %>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
</div>
